
 $color-header:green;

/*
.image{
        height:40em; background-size:cover; width:auto;
        background-image: url('./assets/images/ehubBackground.jpg');
        background-position:50% 50%;
      }
*/
.image{
  margin:5px;
}