
mat-card{
    color:white;
    background-color: rgb(34, 149, 187);
     min-width: 140px;
  //  height:150px; 
}
.livevalue{
    font-weight: bold;
    font-size: 2em;
}
mat-card-title{
    font-weight: bold;
    font-size: 1em;
}
mat-card-subtitle{
    color:white;
}